.ol-list {
    display: flex;
    flex-wrap: wrap;
}

.thumbnail {
    padding: 10px;
    border: 1px solid #ccc;
    margin: 5px;
    width: 50%;
    flex-grow: 1;
}

.img-box {
    margin-right: 10px;
}
